!!!
%html{:lang => "en"}
  %head
    / Basic
    %meta{:charset => "utf-8"}/
    %title OpenShift Origin - Open Source Platform-as-a-Service
    %meta{:content => "The next generation open source app hosting platform by Red Hat", :name => "description"}/
    / Mobile Metas
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / Google Webmaster Tools
    %meta{:content => "9jyGvNki3NSELTYJ7t_XbF-YQZ8jjfm7LqQQGNq4SSg", :name => "google-site-verification"}/
    
    / Skins Theme
    %link.skin_color{:href => "#", :media => "screen", :rel => "stylesheet"}/

    / Theme CSS
    %link{:href => "css/style.css", :media => "screen", :rel => "stylesheet"}/
    
    / Responsive CSS
    %link{:href => "css/theme-responsive.css", :media => "screen", :rel => "stylesheet"}/
   
    %link{:href => "stylesheets/styles.css", :media => "screen", :rel => "stylesheet"}/

    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700", :rel => "stylesheet", :type => "text/css"}/

    / Favicons
    %link{:href => "img/icons/favicon.png", :rel => "shortcut icon"}/
    %link{:href => "img/icons/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    /[if IE]
      <link rel="stylesheet" href="css/ie/ie.css">
    /[if lte IE 8]
      <script src="js/responsive/html5shiv.js"></script>
      <script src="js/responsive/respond.js"></script>

    / Google Analytics
    %script{:src => "//www.google-analytics.com/analytics.js", :type => "text/javascript", :async => true}
    :javascript
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-40375612-1', 'openshift.org');
      ga('set', 'forceSSL', true);
      ga('send', 'pageview');
  %body
    #layout.layout-wide
      / Header Section
      %header.index_static
        .nav_logo.animated.fadeIn
          .container
            .row
              %nav.col-md-12
                %ul#menu.sf-menu
                  %li 
                    %a{:href => "#try"} TRY OPENSHIFT
                  %li
                    %a{:href => "#v3"} THE NEW ORIGIN
                  %li 
                    %a{:href => "#contribute"} CONTRIBUTE
                  %li
                    %a{:href => "http://docs.openshift.org/"} DOCUMENTATION
        %section.content_info
          / Parallax Background
          .bg_parallax.image_03_parallax
          / Parallax Background
          / Content Parallax
          %section.opacy_bg_02.paddings
            / Info Head Static
            .container
              .row
                .col-md-12
                  .logo.wow.fadeIn.delay
                    %a{:href => "index.html", :title => "Back to Home"}
                      %img.logo_img{:alt => "Logo", :src => "img/origin_logo.svg"}/
                  %h1.animated.fadeInDown.delay
                    Establishing the next generation of PaaS.
                  %p.animated.fadeInUp.delay OpenShift 3 is built around a core of application containers powered by Docker, with orchestration and management provided by Kubernetes, on a foundation of Atomic and Enterprise Linux. OpenShift Origin is the upstream community project that brings it all together along with extensions, to accelerate application development and deployment.
      %section.timeline-responsive
        %section.contributions
        .opacy_bg_03
          .container
            .paddings
              %ul#timeline
                %li.entry
                  %label
                    %span
                      OpenShift PaaS launches in developer preview at OpenShift.com
                  %span.date May 2011
                  %span.circle
                %li.entry
                  %label
                    %span
                      OpenShift Enterprise 1.0 released for general availability
                  %span.date Nov 2012
                  %span.circle
                %li.entry
                  %label
                    %span
                      OpenShift Online - Fully supported public PaaS announced
                  %span.date June 2013
                  %span.circle
                %li.entry
                  %label
                    %span
                      Announced Docker & Kubernetes based OpenShift 3 platform
                  %span.date Aug 2014
                  %span.circle
                %li.entry.spotlight
                  %label
                    %span
                      %a{:href => "#v3"}OpenShift Origin 3 Release
                  %span.date June 2015
                  %span.circle.circle-big

      #try.info_title.wow.fadeInDown
        %i.fa.fa-download.left
        .vertical_line
          .circle_bottom
        .info_vertical.animated
          %h1
            Try Out The New
            %span OpenShift 3 Platform
        .padding_bottom
          .container.wow.fadeInUp
            .row.text-center
              .col-xs-12.col-sm-4.col-md-4.col-lg-4
                %h2 Run it as a container
                %p 
                  Want to get started quickly and easily? Just run OpenShift as a container by itself. Check out how at: 
                  %a.strong{:href => "https://github.com/openshift/origin#getting-started"} https://github.com/openshift/origin
              .col-xs-12.col-sm-4.col-md-4.col-lg-4
                %h2 Spin up a full cluster
                %p
                  Use the
                  %a.strong{:href => "https://github.com/openshift/openshift-ansible"} Ansible Installer
                  to spin up a full cluster on
                  = succeed "," do
                    %a{:href => "https://github.com/openshift/openshift-ansible#setup"} Fedora,
                    %a{:href => "https://github.com/openshift/openshift-ansible#setup"} OSX 
                  or
                  = succeed "." do
                    %a{:href => "https://github.com/openshift/openshift-ansible/blob/master/README_libvirt.md"} on a local vm
              .col-xs-12.col-sm-4.col-md-4.col-lg-4
                %h2 Deploy it to the cloud
                %p
                  You can also try out OpenShift Origin 3 in the cloud using our setup instructions for 
                  %a{:href => "https://github.com/openshift/openshift-ansible/blob/master/README_AWS.md"} AWS
                  or
                  = succeed "." do
                    %a{:href => "https://github.com/openshift/openshift-ansible/blob/master/README_GCE.md"} Google Compute Engine 
      %section.content_info#v3.latest-news
        .opacy_bg_01.paddings
          .container
            .row
              .col-md-12.text-center
                .info_vertical.padding_bottom
                  %h1
                    What is   
                    %span OpenShift Origin
                  %p
                    OpenShift Origin is the upstream open source version of Red Hat's distributed application system, OpenShift. We launched this project to provide a platform in which development teams could build and manage cloud native applications on top of 
                    %a{:href => "https://www.docker.com/"} Docker 
                    and 
                    %a{:href => "https://kubernetes.io/"} Kubernetes.
              .col-md-12
                :plain
                  <div class="embed-responsive embed-responsive-16by9"><iframe width="560" height="315" src="https://www.youtube.com/embed/D_Lj0rObunI" frameborder="0" allowfullscreen></iframe></div>
            -# .row
            -#   / Item Service-02
            -#   .col-xs-6.col-md-4
            -#     .service-02
            -#       .text-center
            -#         %h2
            -#           Develop
            -#         %p Easily build and rebuild images using Docker or Source-to-Image builds; chain builds together to automatically occur, manage the flow of images from dev to test to production, and integrate external CI systems into your deployment workflows.
            -#   / End Item Service-02
            -#   / Item Service-02
            -#   .col-xs-6.col-md-4
            -#     .service-02
            -#       .text-center
            -#         %h2
            -#           Deploy
            -#         %p Run and deploy any application built out of Docker images; set up automated or manual rolling deployments with integrated canary testing; or run your own custom deployment workflows inside your own containers
            -#   / End Item Service-02
            -#   / Item Service-02
            -#   .col-xs-6.col-md-4
            -#     .service-02
            -#       .text-center
            -#         %h2
            -#           Manage
            -#         %p Secure your environment from end to end with private source builds and image security, fully encrypted server to server communication, easy user integration with external systems, and a customizable policy engine and service accounts for controlling how applications talk to each other.

      %section.content_info
        #tech.info_title.wow.fadeInUp
          %i.fa.fa-cubes.left
          .vertical_line
            .circle_bottom
          .info_vertical.animated
            %h1
              Standardization through
              %span Containerization
            %p "Standards are powerful forces in the software industry. They can drive technology forward by bringing together the combined efforts of multiple developers, different communities, and even competing vendors."
          .paddings
            .container.wow.fadeInUp
              .row
                .col-sm-4.col-md-4
                  .technology-section
                    .head-tech
                      %img.logo_tech{:alt => "Docker logo", :src => "img/logo-docker-h.svg"}/
                    .caption-tech
                      %h3 Docker container runtime and image model
                      %p Standardized portable containers for any app, any language, using any toolchain. 
                      %a{:href => "https://www.docker.com/whatisdocker/"} Learn more

                .col-sm-4.col-md-4
                  .technology-section
                    .head-tech
                      %img.logo_tech{:alt => "Kubernetes logo", :src => "img/logo-kubernetes-h.svg"}/
                    .caption-tech
                      %h3 Container Orchestration at Scale with Kubernetes.
                      %p Providing basic mechanisms for deployment, maintenance, and scaling of applications 
                      %a{:href => "http://kubernetes.io/"} Learn more

                .col-sm-4.col-md-4
                  .technology-section
                    .head-tech
                      %img.logo_tech{:alt => "Project Atomic logo", :src => "img/logo-atomic-h.svg"}/
                    .caption-tech
                      %h3 A lean and mean OS built specifically for containers 
                      %p Harnesses the power of upstream packages plus the ability to perform atomic upgrades and rollbacks
                      %a{:href => "http://www.projectatomic.io/docs/"} Learn more
                / End Item Service-01
      
      %section.content_info.contributions#contributions
        .opacy_bg_01.paddings
          .container
            .row
              .col-md-12.text-center
                .info_vertical
                  %h1 
                    Open Source 
                    %span Contributions
                  %p
                    OpenShift is about upstream collaboration as much as it's about platform as a service. Just take a look at how much we're contributing to both our own projects as well as others.
            .row
              / Left Content
              .col-md-9.wow.fadeInLeft
                / Resul Zone
                .table-responsive
                  %table.table.contributions
                    %tr
                      %th Open Source Project
                      %th Red Hat Commits last 30 days
                      %th Red Hat Pull Requests last 30 days
                      %th Issues involved in last 30 days
                    %tr
                      %td
                        %a{:href => "https://github.com/openshift/origin"}Origin
                      %td 851
                      %td 242
                      %td 86
                    %tr
                      %td 
                        %a{:href => "https://github.com/docker/docker"}Docker
                      %td 11
                      %td 17
                      %td 3
                    %tr
                      %td
                        %a{:href => "https://github.com/googlecloudplatform/kubernetes"}Kubernetes
                      %td 192
                      %td 176
                      %td 43
                    -# %tr
                    -#   %td Project Atomic
                    -#   %td ???
                    -#   %td ???
                    -#   %td ???
                    -#   %td ???
                    -#   %td 19
              / End Left Content
              / Image animation - Right Content
              .col-md-3.wow.fadeInRight
                %i.fa.fa-github.right
              / End Image animation - Right Content
              .col-md-10.wow.fadeInLeft.text-center
                %p As of 04/27/2015
      #contribute.info_title.wow.fadeInUp
        .vertical_line
          .circle_bottom
        .info_vertical.animated
          %h1
            Contribute to OpenShift
            %span Origin
          %p We know you've got great ideas for improving OpenShift Origin. So roll up your sleeves and come join us in the community.  
        %i.fa.fa-code.right
        .paddings
          .container.wow.fadeInUp
            .row
              .col-xs-12.col-sm-6.col-md-6.col-lg-6
                %h2 Extend OpenShift
                %p You can add new runtimes and frameworks to OpenShift with community cartridges and quickstarts.
                %p
                  The Origin architecture builds upon the flexibility and scalability of Docker and Kubernetes to deliver a powerful new Platform as a Service system.
                %p
                  All contributions are welcome - OpenShift uses the Apache 2 license and does not require any contributor agreement to submit patches. Please open issues for any bugs or problems you encounter, ask questions on the OpenShift IRC channel (#openshift-dev on freenode), or get involved in the 
                  %a{:href => "https://github.com/GoogleCloudPlatform/kubernetes"} Kubernetes 
                  project at the container runtime layer.
                %h2 Take a look at the Trello Board
                %p 
                  The OpenShift project
                  %a{:href => "https://trello.com/b/nlLwlKoz/openshift-origin-roadmap"} roadmap lives on Trello. 
                  Here is a sampling of topics for those who want to get involved with OpenShift 3:
                  %ul
                    %li 
                      %a{:href => "https://trello.com/c/TZPhbN79"} Docker Integration
                  %ul
                    %li 
                      %a{:href => "https://trello.com/c/ja8bbQwy"} Kubernetes Networking
                  %ul
                    %li
                      %a{:href => "https://trello.com/c/3zHeVSla"} Routing and Load Balancing
              .col-xs-12.col-sm-6.col-md-6.col-lg-6
                %h2 Hack on the source code
                %ul
                  %li
                    Get started with the
                    %a{:href => "https://github.com/openshift/origin/blob/master/CONTRIBUTING.adoc"} Contributors Guide
                  %li
                    Fork
                    = succeed "." do
                      %a{:href => "https://github.com/openshift/origin"} the repository
                  %li
                    Read the
                    = succeed "." do
                      %a{:href => "http://docs.openshift.org/latest/welcome/index.html"} Origin 3 documentation
                  %li
                    Check out the other repositories we're working on:
                    %ul
                      %li
                        %a{:href => "https://github.com/kubernetes/kubernetes"} Kubernetes 
                      %li
                        %a{:href => "https://github.com/docker/docker"} Docker
                      %li
                        %a{:href => "https://github.com/projectatomic/"} Project Atomic
                %h2 File a bug
                %p
                  Found a bug? Let us know! OpenShift uses a
                  = succeed "." do
                    %a{:href => "https://bugzilla.redhat.com/describecomponents.cgi?product=OpenShift%20Origin"} public Bugzilla instance
                %h2 Talk to us
                %ul
                  %li
                    %a{:href => "http://lists.openshift.redhat.com/openshiftmm/listinfo"} Join the public user or development mailing lists.
                  %li
                    %a{:href => "http://webchat.freenode.net/?randomnick=1&channels=openshift-dev&uio=d4"} Join the #openshift-dev channel on Freenode
      
      / Google Remarekting
      :plain
        <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 1007064360;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
        </script>
        <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
        </script>
        <noscript>
        <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1007064360/?value=0&amp;guid=ON&amp;script=0"/>
        </div>
        </noscript>

      /footer              
      %footer
        .container
          .row
            / Social Section
            .col-md-4.col-sm-12
              %a{:href => "https://www.redhat.com/"}
                %img{:alt => "Red Hat", :src => "https://assets.openshift.net/app/assets/redhat.svg"}/
            .col-md-4.col-sm-12.text-center
              %a{"href"=>"https://hub.openshift.com/quickstarts/92-do-it-yourself-0-1", "title"=>"Powered by OpenShift Online with the DIY Cartridge"}
                %img{"src"=>"https://www.openshift.com/sites/default/files/images/powered-transparent-white.png", "alt"=>"Powered by OpenShift Online"}/
            .col-md-4.col-sm-12
              %ul.social
                %li.twitter
                  %a{:href => "https://twitter.com/openshift"}
                    %span
                      %i.fa.fa-twitter-square
                %li.github
                  %a{:href => "https://github.com/openshift/origin-server"}
                    %span
                      %i.fa.fa-github
                %li.google
                  %a{:href => "https://plus.google.com/communities/114361859072744017486"} 
                    %span
                      %i.fa.fa-google-plus-square
                %li.facebook
                  %a{:href => "https://www.facebook.com/openshift"}
                    %span
                      %i.fa.fa-facebook-square
      / End footer
      / footer
    / End layout

    / ======================= JQuery libs ===========================
    / jQuery local
    %script{:src => "js/jquery.js", :type => "text/javascript"}
    / Nav
    %script{:src => "js/nav/tinynav.js", :type => "text/javascript"}
    %script{:src => "js/nav/superfish.js", :type => "text/javascript"}
    %script{:src => "js/nav/hoverIntent.js", :type => "text/javascript"}
    / %script{:src => "js/nav/jquery.sticky.js", :type => "text/javascript"}
    / Totop
    %script{:src => "js/totop/jquery.ui.totop.js", :type => "text/javascript"}
    / Slide
    %script{:src => "js/rs-plugin/js/jquery.themepunch.tools.min.js", :type => "text/javascript"}
    %script{:src => "js/rs-plugin/js/jquery.themepunch.revolution.min.js", :type => "text/javascript"}
    / owl-carousel
    %script{:src => "js/carousel/owl.carousel.js", :type => "text/javascript"}
    / Ligbox
    %script{:src => "js/fancybox/jquery.fancybox.pack.js", :type => "text/javascript"}
    / Gallery Grid
    %script{:src => "js/gallery/modernizr.custom.26633.js", :type => "text/javascript"}
    %script{:src => "js/gallery/jquery.gridrotator.js", :type => "text/javascript"}
    / Minislider Team
    %script{:src => "js/team/modernizr.custom.63321.js", :type => "text/javascript"}
    %script{:src => "js/team/jquery.catslider.js", :type => "text/javascript"}
    / Filters
    %script{:src => "js/filters/jquery.isotope.js", :type => "text/javascript"}
    / Theme Options
    %script{:src => "js/theme-options/theme-options.js", :type => "text/javascript"}
    %script{:src => "js/theme-options/jquery.cookies.js", :type => "text/javascript"}
    / Twitter Feed
    %script{:src => "js/twitter/jquery.tweet.js", :type => "text/javascript"}
    / WOW-master
    %script{:src => "js/animations/wow.min.js", :type => "text/javascript"}
    / Parallax
    %script{:src => "js/parallax/jquery.inview.js", :type => "text/javascript"}
    %script{:src => "js/parallax/nbw-parallax.js", :type => "text/javascript"}
    / Bootstrap.js
    %script{:src => "js/bootstrap/bootstrap.js", :type => "text/javascript"}
    / fUNCTIONS
    %script{:src => "js/main.js", :type => "text/javascript"}
    / ======================= End JQuery libs ===========================
