<div class="grid-item col-lg-4 col-xs-6"><!-- items use Bootstrap .col- classes -->
  <div class="grid-item-content"><!-- wrap item content in its own element -->
    <li data-recipeName="<%= recipe_list.name.downcase %>">
      <div class="col-sm-5 logo">
        <% if recipe_list.logo.presence && recipe_list.logo.length > 0 %>
          <%= image_tag "/img/users/#{recipe_list.logo}", :alt => recipe_list.name %>
          <% else %>
          <%= image_tag '/img/users/OKDPandaInCannon.png', :alt => recipe_list.name %><br>
        <% end %>
      </div>
      <div class="col-sm-7 hidden-xs recipe-name">
        <% if recipe_list.link.presence && recipe_list.link.length > 0 %>
        <%= link_to recipe_list.name, recipe_list.link, target: "_blank" %>
        <% else %>
        <%= link_to recipe_list.name, '', onclick: "return false;" %>
        <% end %>
      </div>
    </li>
  </div>
</div>
