---
title: Blog
pageable: true
per_page: 10
---

<% content_for :header do %>
    <h1 class="animated fadeInDown delay">
      OKD Blog
    </h1>
    <p class="animated fadeInUp delay">
      News, Hints, ...
    </p>
<% end %>

<div class="crumbs border_bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li>
            <a href="/index.html">Home</a>
          </li>
          <li>/</li>
          <li>
            <a href="/blog.html">OKD Blog</a>
          </li>
          <li>
            <div>
                <form>
                    <input class="search-term" type="search" placeholder="" required="required" />
                    <input class="search-submit" type="submit" value="Search" />
                </form>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row info_title wow animated fadeInUp">
  <div class="vertical_line">
    <div class="circle_bottom"></div>
  </div>
  <div class="info_vertical">
    <h1>
      OKD
      <span>Blog</span>
    </h1>
  </div>
</div>

<div class="info_title wow" id="try" style="position:relative;">
    <div class="container">
        <div class="blog-preview">
            <% if paginate && num_pages > 1 %>
            <p>Page <%= page_number %> of <%= num_pages %></p>

            <% if prev_page %>
                <p><%= link_to 'Previous page', prev_page %></p>
            <% end %>
            <% end %>

            <% page_articles.each_with_index do |article, i| %>
            <h2><%= link_to article.title, article %> <span> (<%= article.date.strftime('%b %e') %>)</span></h2>
            <!-- use article.summary(250) if you have Nokogiri available to show just
                the first 250 characters -->
            <!-- <%= article.body %> -->
            <%= article.summary(100) %>
            <% end %>

            <% if paginate %>
            <% if next_page %>
                <p><%= link_to 'Next page', next_page %></p>
            <% end %>
            <% end %>

            <br>
            <br>
            <hr>

            <aside>
                <h2>Recent Articles</h2>
                <ol>
                    <% blog.articles[0...10].each do |article| %>
                    <li><%= link_to article.title, article %> <span> (<%= article.date.strftime('%b %e') %>)</span></li>
                    <% end %>
                </ol>
    
                <h2>Tags</h2>
                <ol>
                    <% blog.tags.each do |tag, articles| %>
                    <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
                    <% end %>
                </ol>
    
                <h2>By Year</h2>
                <ol>
                    <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
                    <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %></li>
                    <% end %>
                </ol>
            </aside>                
        </div>   

        <div class="search-results"></div> 
    </div>
</div>        