---
title: OKD - The Community Distribution of Kubernetes that powers Red Hat OpenShift.
---

<% content_for :header do %>
<h1 class="animated fadeInDown delay">
  The Community Distribution of Kubernetes that powers <a href="https://www.openshift.com" class="headerlink" target="_blank" style="font-weight: 400;">Red Hat OpenShift</a>.
</h1>
<h1 class="animated fadeInDown delay" style="font-size: 36px;"></h1>
<p class="animated fadeInUp delay">Built around a core of OCI container packaging and Kubernetes container cluster management, OKD is also augmented by application lifecycle management functionality and DevOps tooling. OKD provides a complete open source container application platform.</p>
<% end %>


<div class="info_title wow" id="try" style="position:relative;">
  <div class="pandarocket" style="background: url(img/okd-panda-flat_rocketeer_with_number.svg) no-repeat center center;">
  </div>
  <div class="vertical_line">
    <div class="circle_bottom"></div>
  </div>
  <div class="info_vertical animated">
    <h1>
      <span>OKD 4</span>
    </h1>
  </div>
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-8 col-centered">
          <div class="row text-center">
            <div class="col-md-20">
              <pre class="code"><nobr> $ openshift-install create cluster</nobr></pre>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <a id="get-started" class="code-button" href="https://github.com/openshift/okd#getting-started" target="_blank"><nobr>Get&nbsp;started</nobr></a>
            </div>
            <div class="col-sm-4">
              <a id="changelogs" class="code-button" href="https://origin-release.svc.ci.openshift.org/" target="_blank"><nobr>Changelogs</nobr></a>
            </div>
            <div class="col-sm-4">
              <a id="slack" class="code-button" href="https://kubernetes.slack.com/messages/openshift-dev" target="_blank"><nobr>Join us on Slack</nobr></a>
            </div>            
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="info_vertical">
    <br>
  </div>
  <div>
    <div class="container wow">
      <div class="row text-center">
        <div class="col-sm-10 col-centered">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <h2>Tons of amazing new features</h2>
              <p>
              Automatic updates not only for OKD but also for the host OS, k8s Operators are first class citizens, a fancy UI, and much much more.
              </p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <h2>CodeReady Containers for OKD: local OKD 4 cluster for development</h2>
              <p>
                CodeReady Containers brings a minimal OpenShift 4 cluster to your local laptop or desktop computer!  Download it here: <a href="/crc.html">CodeReady Containers for OKD Images</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="content_info latest-news" id="v4">
  <div class="vertical_line">
    <div class="circle_bottom"></div>
  </div>
  <div class="info_title opacy_bg_01 "   style="background:yellow;" >
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="info_vertical">
            Please note that OKD 3 will be considered deprecated starting June 2021. We strongly encourage users to upgrade current OKD 3 installations to OKD 4.
            <br>
              <%= link_to "OKD 3", "/okd3.html" %>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content_info latest-news" id="v4">
  <div class="info_title opacy_bg_01 paddings">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="info_vertical">
            <h1>
              What is
              <span>OKD</span>?
            </h1>
            <div class="row text-left">
              <div class="col-md-6 col-xs-12">
                <p>
                  OKD is a <strong>distribution of Kubernetes</strong> optimized for continuous application development and multi-tenant deployment.
                  OKD adds <strong>developer and operations-centric</strong> tools on top of Kubernetes to enable rapid application development, easy deployment
                  and scaling, and long-term lifecycle maintenance for small and large teams. OKD is a <b>sibling</b> Kubernetes distribution to <b>Red Hat OpenShift</b>.
                </p>
                <!-- <div class="ytVideoWrapper">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/921NezIOJNw?rel=0&autoplay=0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div> -->
              </div>
              <div class="col-md-6 col-xs-12">
                <p>
                  OKD embeds Kubernetes and extends it with <strong>security</strong> and other integrated concepts. OKD is also referred to as Origin in github and in the documentation.
                </p>
                <p>
                  If you are looking for enterprise-level support, or information on partner certification, Red Hat also offers <a href="https://www.openshift.com" target="_blank">Red Hat OpenShift Container Platform.</a>
                </p>
              </div>
            </div>



            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="500">
          
              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src="/img/screenshots/cluster-overview.png" alt="...">
                  <div class="carousel-caption">
                    ...
                  </div>
                </div>
                <div class="item">
                  <img src="/img/screenshots/operatorhub.png" alt="...">
                  <div class="carousel-caption">
                    ...
                  </div>
                </div>
                <div class="item">
                  <img src="/img/screenshots/pod-overview.png" alt="...">
                  <div class="carousel-caption">
                    ...
                  </div>
                </div>
                <div class="item">
                  <img src="/img/screenshots/text-editor.png" alt="...">
                  <div class="carousel-caption">
                    ...
                  </div>
                </div>
                <div class="item">
                  <img src="/img/screenshots/explore-api.png" alt="...">
                  <div class="carousel-caption">
                    ...
                  </div>
                </div>
                <div class="item">
                  <img src="/img/screenshots/metrics.png" alt="...">
                  <div class="carousel-caption">
                    ...
                  </div>
                </div>
                <div class="item">
                  <img src="/img/screenshots/monitoring.png" alt="...">
                  <div class="carousel-caption">
                    ...
                  </div>
                </div>
                <div class="item">
                  <img src="/img/screenshots/topology.png" alt="...">
                  <div class="carousel-caption">
                    ...
                  </div>
                </div>                                                                                                

                ...
              </div>
            
              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="content_info contributions" id="community">
  <div class="vertical_line">
    <div class="circle_bottom"></div>
  </div>
  <div class="info_title">
    <div class="info_vertical container">
      <div class="panda" style="background: url(img/okd-panda-flat_nerd_with_number.svg) no-repeat center center;">
      </div>      
      <div class="row">
        <h1>
          <span>OKD Community</span>
        </h1>
        <p>We know you've got great ideas for improving OKD and its network of open source projects. So roll up your sleeves and come join us in the community!</p>
      </div>
    </div>
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <h2>Get Started</h2>
          <p>All contributions are welcome! OKD uses the Apache 2 license and does not require any contributor agreement to submit patches.
              Please open issues for any bugs or problems you encounter, ask questions in the <b>#openshift-dev</b> on Kubernetes Slack Channel,
              or get involved in the OKD-WG by joining the OKD-WG google group.
              <br>
              <ul>              
                <li>
                  Get started with the
                  <a href="https://github.com/openshift/okd/blob/master/CONTRIBUTING.md">Contributors Guide</a>
                </li>
                <li>
                  Fork
                  <a href="https://github.com/openshift/origin">the repository</a>
                </li>
                <li>
                  Read the
                  <a href="https://docs.okd.io/latest/welcome/index.html">documentation</a>
                </li>
              </ul>
              <br><a href="https://github.com/openshift/okd/blob/master/LICENSE">Apache 2 license</a>
              <br><a href="https://github.com/openshift/okd/issues">Open issues</a>
              <br><a href="https://groups.google.com/forum/#!forum/okd-wg">OKD-WG google group</a>
          </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <h2>Connect to the community</h2>
          <ul>
            <li>
              Join the
              <a href="https://groups.google.com/forum/#!forum/okd-wg">OKD Working Group</a>
            </li>
            <li>
              Attend an upcoming
              <a href="https://github.com/openshift/community/projects/1">OKD Working Group Meeting</a>
            </li>
          </ul>
          <h2>File a Bug</h2>
          <p>
            Found a bug? Let us know! OKD uses
            <a href="https://github.com/openshift/okd/issues">Github issues</a>.
          </p>
          <h2>Talk to Us</h2>
          <ul>
            <li>
              Follow the <a href="https://lists.openshift.redhat.com/openshiftmm/listinfo">public user or development mailing lists</a>
            </li>
            <li>
              Chat with us on the <a href="https://kubernetes.slack.com/messages/openshift-dev/">#openshift-dev channel on Slack</a>
            </li>
            <li>
              Ask or answer questions on <a href="http://stackoverflow.com/questions/tagged/okd">StackOverflow</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="content_info">
  <div class="opacy_bg_01 paddings">
    <div class="info_title wow fadeInUp" id="tech">
      <i class="fa fa-cubes left"></i>
      <div class="info_vertical animated container">
        <div class="row">
          <h1>
            Standardization through
            <span>Containerization</span>
          </h1>
          <p>Standards are powerful forces in the software industry. They can drive technology forward by bringing together the combined efforts of multiple developers, different communities, and even competing vendors.</p>
        </div>
      </div>
      <div class="container wow fadeInUp" style="padding-top: 30px;">
        <div class="row">
          <div class="col-sm-4">
            <div class="technology-section">
              <div class="head-tech">
                <%= image_tag 'logo-kubernetes-h.svg', {:alt => 'Kubernetes logo', :class => 'logo_tech'} %>
              </div>
              <div class="caption-tech">
                <p>Open source container orchestration and cluster management at scale.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="technology-section">
              <div class="head-tech">
                <%= image_tag 'podman.svg', {:alt => 'Podman logo', :class => 'logo_tech'} %>
              </div>
              <div class="caption-tech">
                <p>Standardized Linux container packaging for applications and their dependencies.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="technology-section">
              <div class="head-tech">
                <%= image_tag 'fedora-coreos-logo.png', {:alt => 'Fedora CoreOS logo', :class => 'logo_tech'} %>
              </div>
              <div class="caption-tech">
                <p>A container-focused OS that's designed for painless management in large clusters.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="technology-section">
              <div class="head-tech">
                <%= image_tag 'logo-operator-h.svg', {:alt => 'Operator Framework logo', :class => 'logo_tech'} %>
              </div>
              <div class="caption-tech">
                <p>An open source project that provides developer and runtime Kubernetes tools, enabling you to accelerate the development of an Operator. </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="technology-section">
              <div class="head-tech">
                <%= image_tag 'logo-crio-h.svg', {:alt => 'CRI-O logo', :class => 'logo_tech'} %>
              </div>
              <div class="caption-tech">
                <p>A lightweight container runtime for Kubernetes.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="technology-section">
              <div class="head-tech">
                <%= image_tag 'prometheus.png', {:alt => 'Prometheus logo', :class => 'logo_tech'} %>
              </div>
              <div class="caption-tech">
                <p>Prometheus is a systems and service monitoring toolkit that collects metrics from configured targets at given intervals, evaluates rule expressions, displays the results, and can trigger alerts if some condition is observed to be true.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="users">
  <div>
    <div class="info_title wow fadeInUp" id="tech">
      <i class="fa fa-users left"></i>
      <div class="info_vertical animated container">
        <div class="row">
          <h1>
            OKD
            <span>End User Community</span>
          </h1>
        </div>
      </div>
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-12">
            <%= partial "users_carousel", :object => data.users.users %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <a class="list-link" target="_blank" href="https://commons.openshift.org/participants.html">View the OpenShift Commons Participants List (<%= data.participants.participants.count %>)</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content_info" id="join">
  <div class="opacy_bg_01 paddings">
    <div class="info_title wow" id="try"> <!-- class="info_title wow fadeInUp" id="try"> -->
      <i class="fa fa-compass left"></i>
      <div class="container">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <div> <!-- class="info_vertical animated"> -->
              <h1>
                Become a part of something
                <span>bigger</span>
              </h1>
              <p>OpenShift Commons is open to all community participants: users, operators, enterprises, non-profits, educational institutions, partners, and service providers as well as other open source technology initiatives utilized under the hood or to extend the OpenShift platform.</p>
              <br>
              <ul>
                <li class="text-left">If you are an OpenShift Online or an OpenShift Container Platform customer or have deployed OKD on premise or on a public cloud.</li>
                <li class="text-left">If you have contributed to the OKD project and want to connect with your peers and end users.</li>
                <li class="text-left">If you simply want to stay up-to-date on the roadmap and best practices for using, deploying and operating OpenShift.</li>
              </ul>
              <div class="text-center">
                <h3>
                  Then OpenShift Commons is the right place for you.
                </h3>
              </div>
              <div class="row">
                <div class="col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1 text-center more-btn" id="blog-btn">
                  <a class="btn btn-primary" href="https://commons.openshift.org/index.html#join">Ready to Join?</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
