---
title: OKD - The Community Distribution of Kubernetes that powers Red Hat OpenShift.
---

<% content_for :header do %>
<h1 class="animated fadeInDown delay">
  The Community Distribution of Kubernetes that powers <a href="https://www.openshift.com" class="headerlink" target="_blank" style="font-weight: 400;">Red Hat OpenShift</a>.
</h1>
<h1 class="animated fadeInDown delay" style="font-size: 36px;"></h1>
<p class="animated fadeInUp delay">Built around a core of OCI container packaging and Kubernetes container cluster management, OKD is also augmented by application lifecycle management functionality and DevOps tooling. OKD provides a complete open source container application platform.</p>
<% end %>
<div class="info_title wow fadeInDown" id="try">
  <i class="fa fa-download left"></i>
  <div class="vertical_line">
    <div class="circle_bottom"></div>
  </div>
  <div class="info_vertical animated">
    <h1>
      Our next version <span>OKD 4</span> is coming soon.
    </h1>
  </div>
  <div class="">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-6 col-sm-8 col-centered">
          <div class="row text-center">
            <div class="col-md-12">
              <pre class="code">$ openshift-install create cluster</pre>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-sm-offset-2 col-sm-4">
              <a id="get-started" class="code-button" href="https://github.com/openshift/okd" target="_blank">Test&nbsp;the&nbsp;Betas</a>
            </div>
            <div class="col-sm-4">
              <a id="get-started" class="code-button" href="https://origin-release.svc.ci.openshift.org/" target="_blank">Beta&nbsp;Changelogs</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="info_vertical">
    <br>
  </div>
  <div class="padding_bottom">
    <div class="container wow fadeInUp">
      <div class="row text-center">
        <div class="col-sm-10 col-centered">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <h2>Tons of amazing new features</h2>
              <p>
              Automatic updates not only for OKD but also for the host OS, Kubernetes 1.17.1, k8s Operators are first class citizens, fancy UI, and much much more. Visit our docs page at <a href="https://docs.okd.io/latest/welcome/index.html">https://docs.okd.io</a>
              </p>
            </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <h2>Code Ready Containers: local OKD 4 cluster for development</h2>
              <p>
                Code Ready Containers (CRC) brings a minimal OpenShift 4 cluster to your local laptop or desktop computer!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section id="users">
  <div class="opacy_bg_01 paddings">
    <div class="info_title wow fadeInUp" id="tech">
      <i class="fa fa-users left"></i>
      <div class="info_vertical animated container">
        <div class="row">
          <h1>
            Impressions of <span>OKD 4</span>
          </h1>
          <p><span>OKD 4</span> has many features that will make developers and ops engineers more productive. And this is what it looks like: </p>
        </div>
      </div>


      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-12">
            <%= partial "image_carousel", :object => data.screenshots.screenshots %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<div class="info_title wow fadeInDown" id="try">
  <i class="fa fa-download left"></i>
  <div class="vertical_line">
    <div class="circle_bottom"></div>
  </div>
  <div class="info_vertical animated">
    <h1>
      Looking for <span>OKD 3.11</span>&nbsp;?
    </h1>
  </div>
  <div class="">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-6 col-sm-8 col-centered">
          <div class="row text-center">
            <div class="col-md-12">
              <pre class="code">$ <%= link_to "oc", "/download.html#oc-platforms" %> cluster up</pre>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-sm-offset-2 col-sm-4">
              <a id="get-started" class="code-button" href="https://github.com/openshift/origin/blob/v4.0.0-alpha.0/docs/cluster_up_down.md" target="_blank">Get&nbsp;Started</a>
            </div>
            <div class="col-sm-4">
              <%= link_to "Download&nbsp;oc", "/download.html#oc-platforms", class: "code-button" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="info_vertical animated">
    <h3>
      OR
    </h3>
  </div>
  <div class="padding_bottom">
    <div class="container wow fadeInUp">
      <div class="row text-center">
        <div class="col-sm-10 col-centered">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <h2>Run OKD 3.11 in a Container</h2>
              <p>
                Want to get started quickly and easily? Just <a href="https://docs.okd.io/3.11/getting_started/administrators.html#running-in-a-docker-container">run OKD in a container</a> by itself.
              </p>
            </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <h2>Run the All-In-One VM with&nbsp;Minishift</h2>
              <p>
                Try out a fully functioning OKD 3.11 instance with an integrated container registry, running locally on your machine with <%= link_to "Minishift", "/minishift/index.html" %>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section id="users">
  <div class="opacy_bg_01 paddings">
    <div class="info_title wow fadeInUp" id="tech">
      <i class="fa fa-users left"></i>
      <div class="info_vertical animated container">
        <div class="row">
          <h1>
            OKD
            <span>End User Community</span>
          </h1>
        </div>
      </div>
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-12">
            <%= partial "users_carousel", :object => data.users.users %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <a class="list-link" target="_blank" href="https://commons.openshift.org/participants.html">View the OpenShift Commons Participants List (<%= data.participants.participants.count %>)</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content_info latest-news" id="v3">
  <div class="vertical_line">
    <div class="circle_bottom"></div>
  </div>
  <div class="info_title">
    <i class="left"><img src="/img/light-panda.svg"></i>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="info_vertical">
            <h1>
              What is
              <span>OKD</span>?
            </h1>
            <div class="row text-left">
              <div class="col-md-6 col-xs-12">
                <p>
                  OKD is a <strong>distribution of Kubernetes</strong> optimized for continuous application development and multi-tenant deployment.
                  OKD adds <strong>developer and operations-centric</strong> tools on top of Kubernetes to enable rapid application development, easy deployment
                  and scaling, and long-term lifecycle maintenance for small and large teams. OKD is the upstream Kubernetes distribution embedded in Red Hat OpenShift.
                </p>
                <div class="ytVideoWrapper">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/921NezIOJNw?rel=0&autoplay=0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
              <div class="col-md-6 col-xs-12">
	        <p>
	          OKD embeds Kubernetes and extends it with <strong>security</strong> and other integrated concepts. OKD is also referred to as Origin in github and in the documentation.
	        </p>
                <p>
                  If you are looking for enterprise-level support, or information on partner certification, Red Hat also offers <a href="https://www.openshift.com" target="_blank">Red Hat OpenShift Container Platform.</a>
                </p>
                <p>
	          Check the <a href="https://github.com/openshift/okd/blob/master/README.md" target="_blank">README file</a> for more information on the latest release of OKD.
	        </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content_info">
  <div class="opacy_bg_01 paddings">
    <div class="info_title wow fadeInUp" id="tech">
      <i class="fa fa-cubes left"></i>
      <div class="info_vertical animated container">
        <div class="row">
          <h1>
            Standardization through
            <span>Containerization</span>
          </h1>
          <p>Standards are powerful forces in the software industry. They can drive technology forward by bringing together the combined efforts of multiple developers, different communities, and even competing vendors.</p>
        </div>
      </div>
      <div class="container wow fadeInUp" style="padding-top: 30px;">
        <div class="row">
          <div class="col-sm-4">
            <div class="technology-section">
              <div class="head-tech">
                <%= image_tag 'logo-kubernetes-h.svg', {:alt => 'Kubernetes logo', :class => 'logo_tech'} %>
              </div>
              <div class="caption-tech">
                <p>Open source container orchestration and cluster management at scale.</p>
                <a href="http://kubernetes.io/">Learn more</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="technology-section">
              <div class="head-tech">
                <%= image_tag 'podman.svg', {:alt => 'Podman logo', :class => 'logo_tech'} %>
              </div>
              <div class="caption-tech">
                <p>Standardized Linux container packaging for applications and their dependencies.</p>
                <a href="https://www.podman.io/">Learn more</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="technology-section">
              <div class="head-tech">
                <%= image_tag 'fedora-coreos-logo.png', {:alt => 'Fedora CoreOS logo', :class => 'logo_tech'} %>
              </div>
              <div class="caption-tech">
                <p>A container-focused OS that's designed for painless management in large clusters.</p>
                <a href="https://getfedora.org/en/coreos/">Learn more</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="technology-section">
              <div class="head-tech">
                <%= image_tag 'logo-operator-h.svg', {:alt => 'Operator Framework logo', :class => 'logo_tech'} %>
              </div>
              <div class="caption-tech">
                <p>An open source project that provides developer and runtime Kubernetes tools, enabling you to accelerate the development of an Operator. </p>
                <a href="https://coreos.com/operators/">Learn more</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="technology-section">
              <div class="head-tech">
                <%= image_tag 'logo-crio-h.svg', {:alt => 'CRI-O logo', :class => 'logo_tech'} %>
              </div>
              <div class="caption-tech">
                <p>A lightweight container runtime for Kubernetes.</p>
                <a href="http://cri-o.io/">Learn more</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="technology-section">
              <div class="head-tech">
                <%= image_tag 'prometheus.png', {:alt => 'Prometheus logo', :class => 'logo_tech'} %>
              </div>
              <div class="caption-tech">
                <p>Prometheus is a systems and service monitoring toolkit that collects metrics from configured targets at given intervals, evaluates rule expressions, displays the results, and can trigger alerts if some condition is observed to be true.</p>
                <a href="https://prometheus.io/">Learn more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="content_info contributions" id="contribute">
  <div class="vertical_line">
    <div class="circle_bottom"></div>
  </div>
  <div class="info_title">
    <i class="left"><img src="/img/light-panda.svg"></i>
    <div class="info_vertical container">
      <div class="row">
        <h1>
          Contribute to <span>OKD</span>
        </h1>
        <p>We know you've got great ideas for improving OKD and its network of open source projects. So roll up your sleeves and come join us in the community!</p>
      </div>
    </div>
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <h2>View the OKD Roadmap</h2>
          <p>
            The OKD project
            <a href="https://ci.openshift.redhat.com/roadmap_overview.html">roadmap lives on here</a>. 
            All contributions are welcome - OKD uses the Apache 2 license and does not require any contributor agreement to submit patches. Please open issues for any bugs or problems you encounter, ask questions on the OpenShift IRC channel (#openshift-dev
            on freenode), or get involved in the
            <a href="https://github.com/kubernetes/kubernetes">Kubernetes</a> project at the container runtime layer. 
          </p>  
          <p>
            Check out who's contributing on <a href="https://openshift.biterg.io/">OpenShift/OKD community dashboard</a>
          </p>
          <h2>Extend OKD</h2>
          <p>You can add new runtimes and frameworks to OKD with community images and templates. Learn how to create and use custom <a href="https://docs.okd.io/latest/creating_images/guidelines.html">images</a> and <a href="https://docs.okd.io/latest/dev_guide/templates.html#writing-templates">templates</a> with OKD.</p>
          <h2>Join OpenShift Commons</h2>
          <p><a href="https://commons.openshift.org">OpenShift Commons</a> is where the community goes to collaborate and work together on OpenShift. OpenShift Commons is open to all community participants: users, operators, enterprises, startups, non-profits, educational institutions, partners, and service providers.</p>
          <ul>
            <li>
              <a href="https://commons.openshift.org/index.html#join">Join Commons</a>
            </li>
            <li>
              View upcoming and recorded <a href="https://commons.openshift.org/briefings.html">Events &amp; Briefings</a>
            </li>
            <li>
              View a list of Commons <a href="https://commons.openshift.org/index.html#colleagues">Participants</a>
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <h2>Contribute to the Source</h2>
          <ul>
            <li>
              Join the 
              <a href="https://groups.google.com/forum/#!forum/okd-wg">OKD Working Group</a>
            </li>
            <li>
              Attend an upcoming 
              <a href="https://github.com/openshift/community/projects/1">OKD Working Group Meeting</a>
            </li>
            <li>
              Get started with the
              <a href="https://github.com/openshift/okd/blob/master/CONTRIBUTING.md">Contributors Guide</a>
            </li>
            <li>
              Fork
              <a href="https://github.com/openshift/origin">the repository</a>
            </li>
            <li>
              Read the
              <a href="https://docs.okd.io/latest/welcome/index.html">documentation</a>
            </li>
            <li>
              Check out the other repositories we're working on:
              <ul>
                <li>
                  <a href="https://github.com/kubernetes/kubernetes">Kubernetes</a>
                </li>
                <li>
                  <a href="http://kubevirt.io/">Kubevirt</a>
                </li>
                <li>
                  <a href="https://getfedora.org/en/coreos/">Fedora CoreOS</a>
                </li>
                <li>
                  <a href="https://github.com/operator-framework">Operator Framework</a>
                </li>
                <li>
                  <a href="http://cri-o.io/">CRI-O</a>
                </li>
                 <li>
                  <a href="https://github.com/prometheus/prometheus">Prometheus</a>
                </li>
              </ul>
            </li>
          </ul>
          <h2>File a Bug</h2>
          <p>
            Found a bug? Let us know! OKD uses a
            <a href="https://bugzilla.redhat.com/describecomponents.cgi?product=OKD">public Bugzilla instance</a>.
          </p>
          <h2>Talk to Us</h2>
          <ul>
            <li>
              Follow the <a href="https://lists.openshift.redhat.com/openshiftmm/listinfo">public user or development mailing lists</a>
            </li>
            <li>
              Chat with us on the <a href="https://kubernetes.slack.com/messages/openshift-dev/">#openshift-dev channel on Slack</a>
            </li>
            <li>
              Ask or answer questions on <a href="http://stackoverflow.com/questions/tagged/okd">StackOverflow</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="content_info" id="join">
  <div class="opacy_bg_01 paddings">
    <div class="info_title wow fadeInUp" id="try">
      <i class="fa fa-compass left"></i>
      <div class="container">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <div class="info_vertical animated">
              <h1>
                Become a part of something
                <span>bigger</span>
              </h1>
              <p>OpenShift Commons is open to all community participants: users, operators, enterprises, non-profits, educational institutions, partners, and service providers as well as other open source technology initiatives utilized under the hood or to extend the OpenShift platform.</p>
              <br>
              <ul>
                <li class="text-left">If you are an OpenShift Online or an OpenShift Container Platform customer or have deployed OKD on premise or on a public cloud.</li>
                <li class="text-left">If you have contributed to the OKD project and want to connect with your peers and end users.</li>
                <li class="text-left">If you simply want to stay up-to-date on the roadmap and best practices for using, deploying and operating OpenShift.</li>
              </ul>
              <div class="text-center">
                <h3>
                  Then OpenShift Commons is the right place for you.
                </h3>
              </div>
              <div class="row">
                <div class="col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1 text-center more-btn" id="blog-btn">
                  <a class="btn btn-primary" href="https://commons.openshift.org/index.html#join">Ready to Join?</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
